#Ignore C# compilation output
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

#Ignore test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*


#Ignore LaTeX compilation output
*.aux
*.log


#Ignore image files and movie files
#*.png
#*.jpg
#*.amv


#Ignore VS code and VS indexers
.vscode
.vs
